<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>cruel</display-name>
  <servlet>
    <servlet-name>relatorio</servlet-name>
    <servlet-class>br.ufpr.cruel.servlet.Relatorio</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>relatorio</servlet-name>
    <url-pattern>/pages/Relatorio</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ingrediente</servlet-name>
    <servlet-class>br.ufpr.cruel.servlet.Ingrediente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ingrediente</servlet-name>
    <url-pattern>/pages/Ingrediente</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>tipoIngrediente</servlet-name>
    <servlet-class>br.ufpr.cruel.servlet.TipoIngrediente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>tipoIngrediente</servlet-name>
    <url-pattern>/pages/TipoIngrediente</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>atendente</servlet-name>
    <servlet-class>br.ufpr.cruel.servlet.Atendente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>atendente</servlet-name>
    <url-pattern>/pages/Atendente</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>gerente</servlet-name>
    <servlet-class>br.ufpr.cruel.servlet.Gerente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>gerente</servlet-name>
    <url-pattern>/pages/Gerente</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>nutricionista</servlet-name>
    <servlet-class>br.ufpr.cruel.servlet.Nutricionista</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>nutricionista</servlet-name>
    <url-pattern>/pages/Nutricionista</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cardapio</servlet-name>
    <servlet-class>br.ufpr.cruel.servlet.Cardapio</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cardapio</servlet-name>
    <url-pattern>/pages/Cardapio</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>atendimento</servlet-name>
    <servlet-class>br.ufpr.cruel.servlet.Atendimento</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>atendimento</servlet-name>
    <url-pattern>/pages/Atendimento</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>tipoCliente</servlet-name>
    <servlet-class>br.ufpr.cruel.servlet.TipoCliente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>tipoCliente</servlet-name>
    <url-pattern>/pages/TipoCliente</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>br.ufpr.cruel.servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/pages/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>logout</servlet-name>
    <servlet-class>br.ufpr.cruel.servlet.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/pages/Logout</url-pattern>
  </servlet-mapping>
</web-app>