<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>cruel</display-name>
  <servlet>
    <servlet-name>relatorio</servlet-name>
    <servlet-class>br.ufpr.cruel.servlet.Relatorio</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>relatorio</servlet-name>
    <url-pattern>/pages/Relatorio</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ingrediente</servlet-name>
    <servlet-class>br.ufpr.cruel.servlet.Ingrediente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ingrediente</servlet-name>
    <url-pattern>/pages/Ingrediente</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>tipoIngrediente</servlet-name>
    <servlet-class>br.ufpr.cruel.servlet.TipoIngrediente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>tipoIngrediente</servlet-name>
    <url-pattern>/pages/TipoIngrediente</url-pattern>
  </servlet-mapping>
</web-app>